[submodule "Day001-UserStorage/lib/forge-std"]
	path = Day001-UserStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day002-QuoteVault/lib/forge-std"]
	path = Day002-QuoteVault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day003-DreamVault/lib/forge-std"]
	path = Day003-DreamVault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day004-ToDoList/lib/forge-std"]
	path = Day004-ToDoList/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day005-WhitelistDapp/lib/forge-std"]
	path = Day005-WhitelistDapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day006-SimpleBank/lib/forge-std"]
	path = Day006-SimpleBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day007-DonationVaultDapp/lib/forge-std"]
	path = Day007-DonationVaultDapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day008-BasicKYC/lib/forge-std"]
	path = Day008-BasicKYC/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day009-VoterVault/lib/forge-std"]
	path = Day009-VoterVault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day010-OwnershipManager/lib/forge-std"]
	path = Day010-OwnershipManager/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day011-ProjectIdeaStorage/lib/forge-std"]
	path = Day011-ProjectIdeaStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day012-ContactBook/lib/forge-std"]
	path = Day012-ContactBook/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day013-NFTVault/lib/forge-std"]
	path = Day013-NFTVault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day014-ReferralSystem/lib/forge-std"]
	path = Day014-ReferralSystem/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day015-WalletGuard/lib/forge-std"]
	path = Day015-WalletGuard/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day001-UserStorage/Advanced-UserStorage/lib/forge-std"]
	path = Day001-UserStorage/Advanced-UserStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
